body {
  display: block !important;
}


.App {
  width: 100%;
  height: 100vh;
  background: #121026;
  background: #252837;
  display: flex;
  overflow: hidden;
  text-align: center;
}

.App::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 525px) {
  .App {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}